# test main
# main.cpp

# Complie File
*.o

# SpearCutter관련
spearCutter
libDocumentParser.a

# cmake를 위한 공간
cmake-temp

# Database관련 파일
DBconfig
DBconfig/*

# 파일 다운로드관련 임시 폴더
temp

# DocumentParser 제거
src/DocumentParser